body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #ddd;
}

.content {
  width: clamp(300px, 100%, 800px);
  height: 300px;
  background: yellowgreen;
  border-radius: 10px;
}
